.Text {
  margin: 5rem 0 2rem 0;
}
.Hint {
  text-align: center;
  margin: 1rem 0;
  font-size: 14px;
  font-weight: 100;
}
.Hint span {
  font-weight: 500;
}
.ShuffledWord {
  font-size: 40px;
  text-align: center;
  font-weight: 400;
}
.ScoreBoard {
  text-align: center;
  padding-top: 2rem;
}
.ScoreBoard span {
  margin: 2rem;
  font-weight: 500;
}
