.TextInput {
  padding: 1rem 0;
  text-align: center;
}
.Input {
  background-color: #4b4b4b;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  width: 60%;
  border-radius: 3px;
  caret-color: #87ceeb;
}
.Input:focus {
  outline: none;
  border-color: #87ceeb;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(135, 206, 235, 0.6);
}
.GameOver {
  text-align: center;
  animation: fading 1s ease-out 1s infinite;
  margin: 1rem 0;
}
@keyframes fading {
  to {
    opacity: 0;
  }
}
@media (max-width: 750px) {
  .Input {
    width: 100%;
  }
}
