.Header {
  border-bottom: 1px solid #87ceeb;
}
.Header .Title {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  padding: 1rem 0;
}
.HeaderContainer {
  display: flex;
}
.Navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.NavList {
  display: flex;
}
.NavLink {
  display: block;
  padding: 1rem;
  font-size: 14px;
  color: #aaaaaa;
}
.NavLink:hover {
  color: #fff;
}
