.GameStartHeading {
  margin: 5rem 0 2rem 0;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}
.Menu {
  text-align: center;
}

.Btn {
  display: inline-block;
  margin: 1rem 0;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #87ceeb;
  color: #333;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.FormInline .Btn {
  margin: 0 1rem;
}
.BtnBlock {
  display: block;
  text-align: center;
  width: 100%;
}
.Btn:hover {
  background-color: #51bae4;
}
.Btn:active {
  transform: scale(0.9);
}
.FormContainer {
  display: flex;
  justify-content: center;
}
.Form {
  width: 60%;
}
.FormInline {
  display: flex;
  margin: 1rem 0;
}

.FormTitle {
  font-weight: 400;
  margin: 1rem 0;
}
.FormGroup {
  padding: 0.5rem 0;
}
.FormGroup label {
  display: inline-block;
  margin: 0.3rem 0;
  font-size: 14px;
}
.FormInput {
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 0.3rem 0.5rem;
  background-color: #4b4b4b;
  color: #fff;
  border-radius: 3px;
  caret-color: #87ceeb;
}
.FormInput:focus {
  outline: none;
  border-color: #87ceeb;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(135, 206, 235, 0.6);
}
.FormInline .FormInput {
  flex: 1;
}
.AlertError {
  background-color: #000;
  color: #ff0000;
  padding: 1rem;
}
@media (max-width: 750px) {
  .GameStartHeading {
    font-size: 24px;
  }
  .Form {
    width: 100%;
  }
}
